.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 148px;
    margin: 48px 0 0 0;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 0 24px;
        margin: 34px 0 0 0;
    }
}

@media screen and (max-width: 320px) {
    .header {
        margin: 20px 0 0 0;
        width: 288px;
        padding: 0 16px;
    }
}