.footer__links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

@media screen and (max-width: 320px) {
    .footer__links {
        flex-direction: column;
        width: 165px;
        margin: 0 0 0 16px;
    }
}