.footer__copyright {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        flex-direction: column;
        font-size: 14px;
        line-height: 14px;
    }
}