.intro__text {
    max-width: 690px;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FFF;
    margin: 32px 0 0 0;
}

@media screen and (max-width: 768px) {
    .intro__text{
        max-width: 720px;
    }
}

@media screen and (max-width: 725px) {
    .intro__text{
        line-height: 30px;
        max-width: 500px;
    }
}

@media screen and (max-width: 320px) {
    .intro__text{
        max-width: 288px;    
    }
}
