.lead__subtitle {
    max-width: 620px;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    margin: 32px 0 64px 0;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        margin: 32px 0 56px 0;
    }
}


@media screen and (max-width: 560px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        padding: 0 16px;
        margin: 16px 0 40px 0;
    }
}