.cover {
    margin: 92px 48px;
    z-index: 1;
}

@media screen and (max-width: 1024px) {
    .cover {
        margin: 92px 0;
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        margin: 88px 0;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        min-height: 200px;
        margin: 64px 0;
    }
}