.places__website {
    grid-area: website;
    align-self: end;
    margin: 0;
}


@media screen and (max-width: 320px) {
    .places__website{
        margin: 0 16px;
        order: 2;
        width: 288px;
    }
}