.place__website {
    max-width: 456px;
    grid-area: website;
    align-self: end;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .place__website {
        max-width: 352px;
    }
}

@media screen and (max-width: 320px) {
    .place__website{
        width: 288px;
        height: 46px;
        margin: 0 16px;
        order: 2;
    }
}