.cover__route {
    width: 1184px;
    height: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../../images/cover-route-66.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    text-decoration: none;
    position: relative;
  }
  
  .cover__route::after {
    content: "";
    position: absolute;
    background: #2a2c2f;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  
  .cover__route:hover::after {
    opacity: 0.8;
  }

  @media screen and (max-width: 1024px) {
    .cover__route {
      width: 1024px;
      height: 640px;
    }
}

@media screen and (max-width: 768px) {
  .cover__route {
    width: 768px;
    height: 480px;
  }
}

  @media screen and (max-width: 320px) {
    .cover__route {
      width: 320px;
      height: 200px;
    }
}